In [1]:
import pandas as pd
import numpy as np
#read the training set
df = pd.read_csv('train-set.csv')

In [2]:
df.head(5)

,Id,Elevation,Aspect,Slope,Horizontal_Distance_To_Hydrology,Vertical_Distance_To_Hydrology,Horizontal_Distance_To_Roadways,Hillshade_9am,Hillshade_Noon,Hillshade_3pm,...,Soil_Type32,Soil_Type33,Soil_Type34,Soil_Type35,Soil_Type36,Soil_Type37,Soil_Type38,Soil_Type39,Soil_Type40,Cover_Type
0,1,2611,326,20,120,27,1597,168,214,184,...,0,0,0,0,0,0,0,0,0,6
1,2,2772,324,17,42,7,1814,175,220,183,...,0,0,0,0,0,0,0,0,0,2
2,3,2764,4,14,480,-21,700,201,212,148,...,0,0,0,0,0,0,0,0,0,2
3,4,3032,342,9,60,8,4050,202,227,164,...,0,0,0,0,0,0,0,0,0,2
4,5,2488,23,11,117,21,1117,209,218,151,...,0,0,0,0,0,0,0,0,0,2

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 528720 entries, 0 to 528719
Data columns (total 56 columns):
Id                                    528720 non-null int64
Elevation                             528720 non-null int64
Aspect                                528720 non-null int64
Slope                                 528720 non-null int64
Horizontal_Distance_To_Hydrology      528720 non-null int64
Vertical_Distance_To_Hydrology        528720 non-null int64
Horizontal_Distance_To_Roadways       528720 non-null int64
Hillshade_9am                         528720 non-null int64
Hillshade_Noon                        528720 non-null int64
Hillshade_3pm                         528720 non-null int64
Horizontal_Distance_To_Fire_Points    528720 non-null int64
Wilderness_Area1                      528720 non-null int64
Wilderness_Area2                      528720 non-null int64
Wilderness_Area3                      528720 non-null int64
Wilderness_Area4                      528720 non-null int64
Soil_Type1                            528720 non-null int64
Soil_Type2                            528720 non-null int64
Soil_Type3                            528720 non-null int64
Soil_Type4                            528720 non-null int64
Soil_Type5                            528720 non-null int64
Soil_Type6                            528720 non-null int64
Soil_Type7                            528720 non-null int64
Soil_Type8                            528720 non-null int64
Soil_Type9                            528720 non-null int64
Soil_Type10                           528720 non-null int64
Soil_Type11                           528720 non-null int64
Soil_Type12                           528720 non-null int64
Soil_Type13                           528720 non-null int64
Soil_Type14                           528720 non-null int64
Soil_Type15                           528720 non-null int64
Soil_Type16                           528720 non-null int64
Soil_Type17                           528720 non-null int64
Soil_Type18                           528720 non-null int64
Soil_Type19                           528720 non-null int64
Soil_Type20                           528720 non-null int64
Soil_Type21                           528720 non-null int64
Soil_Type22                           528720 non-null int64
Soil_Type23                           528720 non-null int64
Soil_Type24                           528720 non-null int64
Soil_Type25                           528720 non-null int64
Soil_Type26                           528720 non-null int64
Soil_Type27                           528720 non-null int64
Soil_Type28                           528720 non-null int64
Soil_Type29                           528720 non-null int64
Soil_Type30                           528720 non-null int64
Soil_Type31                           528720 non-null int64
Soil_Type32                           528720 non-null int64
Soil_Type33                           528720 non-null int64
Soil_Type34                           528720 non-null int64
Soil_Type35                           528720 non-null int64
Soil_Type36                           528720 non-null int64
Soil_Type37                           528720 non-null int64
Soil_Type38                           528720 non-null int64
Soil_Type39                           528720 non-null int64
Soil_Type40                           528720 non-null int64
Cover_Type                            528720 non-null int64
dtypes: int64(56)
memory usage: 225.9 MB

In [4]:
#training data with Random Forest Classifier
train_data = df.values
from sklearn.ensemble import ExtraTreesClassifier
model = ExtraTreesClassifier(n_estimators=200, verbose=1, n_jobs = 4)
#The column Cover_type will be our second input
#and the set of other features as the first
model = model.fit(train_data[0:,1:55], train_data[0:,55])

C:\Users\luka\Anaconda3\lib\site-packages\sklearn\ensemble\weight_boosting.py:29: DeprecationWarning: numpy.core.umath_tests is an internal NumPy module and should not be imported. It will be removed in a future NumPy release.
  from numpy.core.umath_tests import inner1d
[Parallel(n_jobs=4)]: Done  42 tasks      | elapsed:  1.3min
[Parallel(n_jobs=4)]: Done 192 tasks      | elapsed: 14.0min
[Parallel(n_jobs=4)]: Done 200 out of 200 | elapsed: 15.5min finished

In [5]:
#read the test
df_test = pd.read_csv('test-set.csv')
df_test.head(5)

,Id,Elevation,Aspect,Slope,Horizontal_Distance_To_Hydrology,Vertical_Distance_To_Hydrology,Horizontal_Distance_To_Roadways,Hillshade_9am,Hillshade_Noon,Hillshade_3pm,...,Soil_Type31,Soil_Type32,Soil_Type33,Soil_Type34,Soil_Type35,Soil_Type36,Soil_Type37,Soil_Type38,Soil_Type39,Soil_Type40
0,528721,2953,224,9,55,11,1600,206,251,176,...,0,1,0,0,0,0,0,0,0,0
1,528722,2977,233,14,42,1,1282,196,252,192,...,0,0,0,0,0,0,0,0,0,0
2,528723,3055,227,9,120,5,2724,207,249,178,...,0,0,0,0,0,0,0,0,0,0
3,528724,2615,107,13,277,74,967,241,224,110,...,0,0,0,0,0,0,0,0,0,0
4,528725,3033,59,15,457,94,4086,233,213,99,...,0,0,0,0,0,0,0,0,0,0

In [6]:
test_data = df_test.values
#We now apply the trained model to the test data, omitting the column Id
output = model.predict(test_data[:,1:])

[Parallel(n_jobs=4)]: Done  42 tasks      | elapsed: 10.1min
[Parallel(n_jobs=4)]: Done 192 tasks      | elapsed: 36.1min
[Parallel(n_jobs=4)]: Done 200 out of 200 | elapsed: 37.0min finished

In [7]:
result = np.c_[test_data[:,0].astype(int), output.astype(int)]
df_result = pd.DataFrame(result[:,0:2], columns=['Id', 'Cover_Type'])
df_result.head(5)

       Id  Cover_Type
0  528721           2
1  528722           2
2  528723           1
3  528724           2
4  528725           1

In [8]:
df_result.to_csv('sub2.csv', index=False)

In [9]:
df_result.shape

(226595, 2)